<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1063/1063196.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/_navbar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <%- include('_navbar'); %>
    
    <div class="dashboard-main-container">
        <div class="aside-navbar-links">
            <ul class="aside-navbar-links-ul" type="none">
                <li class="dashboard-li"><span class="material-symbols-outlined">
                    grid_view
                    </span>Dashboard
                </li>
                <li class="interview-li"><span class="material-symbols-outlined">
                    description
                    </span>Interviews
                </li>
                <li class="companies-li"><span class="material-symbols-outlined">
                    cases
                    </span>Jobs
                </li>
                <li class="appliedjobs-li"><span class="material-symbols-outlined">
                    event_note
                    </span>Applied
                </li>   
            </ul>
            <div class="theme">
                <span class="material-symbols-outlined">light_mode</span>
                <span>Light Mode</span>
            </div>
        </div>

        <!-- dashboard -->
        <div class="dashboard-container">
            <div class="students-interviews-container">
                <div class="interviews-container">
                    <p>intervies</p>
                </div>
            </div>
            <div class="companies-and-other-container">
                <div class="companies-container">
                    <p>companies</p>
                </div>
            </div>
        </div>

        <!-- interview -->
        <div class="interviews-main-container">
            <!-- heading -->
            <div class="heading">
                <h2>Interviews</h2>
            </div>
            <!-- active interviews -->
            <% let interviewCount = 0; %>
            <div class="display-interview-container">
                <% interviews.map((interview) => { %>
                    <% if (interview.accepted == true && interview.student_id == user._id) { %>
                        <% interviewCount++; %>
                        <div class="active-interview-container" job-id="<%=interview._id%>">
                            <div class="interview-details">
                                <div class="interview-company-img">
                                    <img src="<%= interview.companyImage %>" alt="">
                                </div>
                                <div>
                                    <p><%= interview.companyName %> - <%= interview.companyLocation %></p>
                                    <div><%= interview.jobTitle %></div>
                                </div>
                            </div>
                            <div class="interview-job-aplicant">
                                <p><%= interview.studentName %></p>
                            </div>
                            <div class="date-time">
                                <p><%= interview.date %>  <%= interview.time %></p>
                            </div>
                            <div class="interview-mode">
                                <p><%= interview.interviewMode %></p>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
                <% if (interviewCount == 0) { %>
                    <div class="no-found">
                        <script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script><lottie-player src='https://lottie.host/f135a538-9be5-4487-b2da-7f49b93e8dbf/Y22iaG84qI.json' background='transparent' speed='1' style='width: 300px; height: 300px' loop autoplay direction='1' mode='normal'></lottie-player>
                        <p>No Interview Schedule</p>
                    </div>
                <% } %>
            </div>
        </div>

        <!-- jobs -->
        <div class="companies-main-container">
            <!-- jobs -->
            <div class="heading">
                <h2>Jobs</h2>
                <div class="search-container">
                    <input type="text" placeholder="Search jobs, Intership">
                    <input type="text" placeholder="Lcoation">
                </div>
            </div>
            <!-- active jobs -->
            <% if (jobs.length == 0) { %>
                <div class="no-found">
                    <script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script><lottie-player src='https://lottie.host/f135a538-9be5-4487-b2da-7f49b93e8dbf/Y22iaG84qI.json' background='transparent' speed='1' style='width: 300px; height: 300px' loop autoplay direction='1' mode='normal'></lottie-player>
                    <p>No Jobs Available</p>
                </div>
            <% } else { %>
                <div class="display-jobs-container">
                    <% jobs.map((job) => { %>
                        <div class="active-jobs-container" job-id="<%=job._id%>">
                            <img src="<%= job.image %>" alt="">
                            <div class="job-details">
                                <p><%= job.company %> - <%= job.location %></p>
                                <p><%= job.title %></p>
                                <p><%= job.salary %></p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
            <!-- more info -->
            <div class="job-more-info-container">

            </div>
        </div>

        <!-- applied -->
        <div class="appliedJobs-main-container">
            <!-- heading -->
            <div class="heading">
                <h2>Applied Jobs</h2>
            </div>
            <!-- active applied -->
            <% let count = 0; %>
            <div class="display-applied-container">
                <% interviews.map((interview) => { %>
                    <% if(interview.student_id == user._id) { %>
                        <% count++; %>
                        <div class="active-applied-container" job-id="<%=interview._id%>">
                            <div class="applied-details">
                                <div class="applied-company-img">
                                    <img src="<%= interview.companyImage %>" alt="">
                                </div>
                                <div>
                                    <p><%= interview.companyName %> - <%= interview.companyLocation %></p>
                                    <div><%= interview.jobTitle %></div>
                                </div>
                            </div>
                            <div class="applied-job-salary">
                                <p><%= interview.jobSalary %></p>
                            </div>
                            <% if(interview.appliedStatus == "Pending") { %>
                                <div class="status">
                                    <!-- <p>Pending</p> -->
                                    <div class="pending-color"></div>
                                </div>
                            <% } else if(interview.appliedStatus == "Accepted") { %>
                                <div class="status">
                                    <!-- <p>Accepted</p> -->
                                    <div class="accepted-color"></div>
                                </div>
                            <% } else { %>
                                <div class="status">
                                    <!-- <p>Rejected</p> -->
                                    <div class="rejected-color"></div>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% }) %>
                <% if (count == 0) { %>
                    <div class="no-found">
                        <script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script><lottie-player src='https://lottie.host/f135a538-9be5-4487-b2da-7f49b93e8dbf/Y22iaG84qI.json' background='transparent' speed='1' style='width: 300px; height: 300px' loop autoplay direction='1' mode='normal'></lottie-player>
                        <p>No Applied jobs</p>
                    </div>
                <% } %>
            </div>
        </div>
                       
        <!-- right container -->
        <div class="right-aside-container">
            <div class="reminder-container">
                <p>remainder</p>
            </div>
        </div>
    </div>

    <!-- js files -->
    <script src="/js/dashboard.js"></script>
</body>
</html>